@model RecipePortal.ViewModels.RecipeViewModel

@{
    ViewBag.Title = Model.Name;
}

<div class="row">
    <div class="col-md-5">
        <h1 class="text-center h3">@Model.Name</h1>
        <div class="row">

            <div class="col-xs-12">
                <div class="rating-wrapper">
                    <div class="stars">
                        <input class="star star-5" id="star-5" type="radio" name="star" />
                        <label class="star star-5" for="star-5"></label>
                        <input class="star star-4" id="star-4" type="radio" name="star" />
                        <label class="star star-4" for="star-4"></label>
                        <input class="star star-3" id="star-3" type="radio" name="star" />
                        <label class="star star-3" for="star-3"></label>
                        <input class="star star-2" id="star-2" type="radio" name="star" />
                        <label class="star star-2" for="star-2"></label>
                        <input class="star star-1" id="star-1" type="radio" name="star" />
                        <label class="star star-1" for="star-1"></label>
                    </div>
                    <div class="rating">@ViewBag.AverageRating</div>
                </div>
            </div>
        </div>
        <p>@Model.AboutDish</p>
    </div>
    <div class="col-md-7">
        <img class="img-responsive" src="@Url.Content(GlobalVariables.UploadDir+Model.ImageFilename)" alt="Recipe Title" />
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Ingredients</h2><hr />
        @Html.Partial("_IngredientList", Model.Ingredients)
        <h2>Directions</h2><hr />
        @Model.Directions
    </div>
    <div class="col-md-4">
        <h2>Recent recipes</h2><hr />
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(".stars input:radio").on("click", function () {
            var $rating = $(this).prop('id');
            var $recipeId = @Model.Id;
            console.log($rating);
            $.ajax({
                url: '@Url.Action("RateRecipe")',
                type: 'POST',
                dataType: 'json',
                data: {
                    star: $rating,
                    recipeId: $recipeId
                }
            })
                .done(console.log("Zagłosowano"))
                .failed(console.log("Coś poszło nie tak"));
        });
    </script>
}
