@model RecipePortal.ViewModels.RecipeViewModel

@{
    ViewBag.Title = Model.Name;
}

<div class="row">
    <div class="col-md-5">
        <h1 class="text-center h3">@Model.Name</h1>
        <div class="rating text-center">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        </div>
        <p>@Model.AboutDish</p>
    </div>
    <div class="col-md-7">
        <img class="img-responsive" src="@Url.Content(GlobalVariables.UploadDir+Model.ImageFilename)" alt="Recipe Title" />
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Ingredients</h2><hr />
        @Html.Partial("_IngredientList", Model.Ingredients)
        <h2>Directions</h2><hr />
        @Model.Directions
    </div>
    <div class="col-md-4">
        <h2>Recent recipes</h2><hr />
    </div>
</div>

