@model IEnumerable<RecipePortal.Models.Recipe>

<h2>Recipe List</h2>

<div class="row">
    @foreach (var recipe in Model)
    {
        <div class="col-sm-4 col-md-3">
            <div class="thumbnail">
                @if (recipe.ImageFilename != null)
                {
                    <img src="@Url.Content(GlobalVariables.UploadDir+recipe.ImageFilename)" alt="@recipe.Name">
                }
                else
                {
                    <img src="https://via.placeholder.com/250" alt="@recipe.Name">
                }
                <div class="caption">
                    <h3>@recipe.Name</h3>
                    <p>@recipe.Directions.Substring(0, 255)...</p>
                    @Html.ActionLink("See more", "Detail", "Recipe", new { recipe.Id }, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    }
</div>


